{
  "extends": [
    "universe/native",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["sort-keys-fix"],
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"],
        "allowSeparatedGroups": false
      }
    ],
    "sort-keys": [
      "error",
      "asc",
      { "caseSensitive": false, "natural": false, "minKeys": 2 }
    ],
    "sort-keys-fix/sort-keys-fix": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "none"
      }
    ]
  }
}
